body { background: #c7b0c; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 38px; display: flex; }
.block-helper-0 { color: #3543ef; font-size: 18px; margin-bottom: 5px; }
.block-auth-1 { color: #8997c7; font-size: 21px; margin-bottom: 5px; }
.block-cache-2 { color: #db5a91; font-size: 17px; margin-bottom: 5px; }
.block-config-3 { color: #b8b228; font-size: 20px; margin-bottom: 5px; }
.block-logger-4 { color: #d9a9ff; font-size: 18px; margin-bottom: 5px; }